{% extends "base.html" %}

{% set title = "Recebimento - Almox." %}

{% block content %}
<div class="container-home">
    <h1 class="text-center">Recebimento Almox.</h1>

    <!-- Seção para exibir mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="form-line">
        <div class="form-group">
            <form method="POST" action="{{ url_for('menu.menu') }}">
                
                {{ form.hidden_tag() }}

                <div class="form_opcao">
                    {{ form.chave_acesso.label(class="form-label") }}
                    {{ form.chave_acesso(class="form-control", placeholder="Informe a chave de acesso") }}
                    {% for error in form.chave_acesso.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ error }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
                
                <button type="submit" name="acao" value="registrar" class="btn btn-primary w-100">Registrar recebimento</button>
                <button type="submit" name="acao" value="mudar_status" class="btn btn-primary w-100">Mudar Status</button>
                <button type="submit" name="acao" value="estorno" class="btn btn-primary w-100">Estorno</button>
            </form>
        </div>

        <div class="form-group">
            <form method="GET" action="{{ url_for('associacoes.tabela_registros_por_responsavel', id_responsavel=id_responsavel) }}">
                {{ form.hidden_tag() }}
                <button type="submit" class="btn btn-primary w-100">Meus registros</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
