/* Fonte personalizada */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, .1);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(98vh - (45px + 56px));
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo da seção */
section {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    border-radius: 8px;
    width: 100%;
}

/* Estilo do menu principal */
.menu_home {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6rem;
}

.menu_home .form-line {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.menu_home .form-line .form-group {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu_home .form-line .menu_item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tornando as opções do menu em coluna em telas menores */
@media (max-width: 768px) {
    .menu_home .form-line {
        flex-direction: column;
    }

    .menu_home .form-line .menu_item {
        display: none;
    }
}

.menu_home .form-line .form-group form {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
}

.menu_home .form-line .form-group .form_opcao {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

/* Estilo de menu de filiais */
.menu_home_filial {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6rem;
}

.menu_home_filial .form-group {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu_home_filial .form-line {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.menu_home_filial .form-line form {
    width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tornando as opções do menu de filiais em coluna em telas menores */
@media (max-width: 768px) {
    .menu_home_filial .form-line {
        width: 75%;
        flex-direction: column;
    }
}

/* Adicionando rolagem lateral para a tabela em telas pequenas */
.table-responsive {
    width: 100%;
    overflow-x: auto; /* Permite rolagem lateral */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    white-space: nowrap; /* Evita que o conteúdo quebre em múltiplas linhas */
}

table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Tornando a tabela responsiva com barra de rolagem em telas menores */
@media (max-width: 768px) {
    .table-responsive {
        margin-bottom: 15px;
    }
    
    .option_reg_por_nf {
        display: none;
    }
}

/* Estilos da paginação */
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-item .page-link {
    padding: 10px 15px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.pagination .page-item .page-link:hover {
    background-color: #0056b3;
}

.pagination .page-item.disabled .page-link {
    background-color: #e9ecef;
    cursor: not-allowed;
    color: #6c757d;
}
