{% extends "base.html" %}

{% set title = "Gerenciamento Filial" %}

{% block content %}
<div class="container-home">
    <h1 class="text-center">{{ filial.value }}</h1>

    <div class="form-group">
        <!-- Exibir os centros associados à filial em uma única linha -->
        <p>
            <b>Centros Associados:</b>
            {% if centros %}
            {{ centros | join(', ') }}
            {% else %}
            Nenhum centro encontrado para esta filial.
            {% endif %}
        </p>
    </div>

    <!-- Seção para exibir mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="menu_opcoes form-line">
        <form method="GET" action="{{ url_for('associacoes.tabela_todos_registros_por_filial', filial=filial.name) }}">
            <button type="submit" class="btn btn-primary">Todos os Registros</button>
        </form>
    
        <form method="GET" action="{{ url_for('associacoes.tabela_registros_atuais_por_filial', filial=filial.name) }}">
            <button type="submit" class="btn btn-primary">Registros atuais</button>
        </form>
    
        <form method="GET" action="{{ url_for('associacoes.tabela_notas_fiscais_por_filial', filial=filial.name) }}">
            <button type="submit" class="btn btn-primary">Notas Fiscais</button>
        </form>
    
        <form method="GET" action="{{ url_for('associacoes.tabela_responsaveis_por_filial', filial=filial.name) }}">
            <button type="submit" class="btn btn-primary">Responsáveis</button>
        </form>
    </div>
    
    
</div>
{% endblock %}
